body{
    font-family: "Roboto", "Raleway", sans-serif;
    color: #2e2f42;
    background: #fff;
    margin: 0;
}

.head-line{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.navigation-bar{
    list-style-type: none;
}

h3{
    font-size: 20px;
    line-height: 1.2;
}
p {
    font-size: 16px;
    line-height: 1.5;
}

.head-line .link{
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    text-decoration: none;
}

.head-line .link:hover,
.head-line .link:focus{
    color: #404bbf;
    text-decoration: underline;
}

.portfolio-page-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

.portfolio-page-row-one{
     list-style-type: none;
}

.portfolio-page-row-two{
     list-style-type: none;
}

.footer{
    background: #2e2f42;
}

.footer-info-text{
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

